# cache directories
Thumbs.db
.DS_Store
*.empty

#dev tools
.php-cs-fixer.cache
.phpunit.cache
.phpunit.result.cache

#phpstorm project files
/.idea

#netbeans project files
nbproject

#eclipse, zend studio, aptana or other eclipse like project files
.buildpath
.project
.settings
atlassian-ide-plugin.xml


# mac deployment helpers
switch
index

# Composer stuff
/vendor
vendor/*
composer.lock
.cache